<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Pour faire le lien avec le header, on le rappelle ainsi  -->
<header th:replace="fragments/header.html :: top">Header TODO</header>
<section>
    <!-- Pour rappeler la valeur de la variable qui est dans le chemin dans index.html :
    <a href="/doctor/?number=1&name=William%20Hartnell"-->
    <h1 th:text="|Welcome ${name}|">Welcome $doctorname</h1>
    <h3 th:text="|Your number is ${number}">Your number is $doctornumber</h3>
</section>
<footer th:replace="fragments/footer.html :: bottom">Footer TODO</footer>
</body>
</html>